<div class="bg-light">
    <div class="d-flex flex-lg-row flex-column">

        <div id="sidebar-div" class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-5 fw-semibold">Categories</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#guitar-collapse" aria-expanded="false">
                        Guitars
                    </button>
                    <div class="collapse" id="guitar-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="acoustic"><label
                                    for="acoustic">Acoustic</label></li>
                            <li><input class="checkbox" type="checkbox" id="electric"><label
                                    for="electric">Electric</label></li>
                            <li><input class="checkbox" type="checkbox" id="bass"><label for="bass">Bass</label></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#ukulele-collapse" aria-expanded="false">
                        Ukulele
                    </button>
                    <div class="collapse" id="ukulele-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="soprano"><label
                                    for="soprano">Soprano</label></li>
                            <li><input class="checkbox" type="checkbox" id="concert"><label
                                    for="concert">Concert</label></li>
                            <li><input class="checkbox" type="checkbox" id="tenor"><label for="tenor">Tenor</label></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#drums-collapse" aria-expanded="false">
                        Drums
                    </button>
                    <div class="collapse" id="drums-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="acousticdrums"><label
                                    for="acousticdrums">Acoustic</label></li>
                            <li><input class="checkbox" type="checkbox" id="electronic"><label
                                    for="electronic">Electronic</label></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#keys-collapse" aria-expanded="false">
                        Keyboards/Pianos
                    </button>
                    <div class="collapse" id="keys-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="piano"><label for="piano">Piano</label></li>
                            <li><input class="checkbox" type="checkbox" id="synthesizer"><label
                                    for="synthesizer">Synthesizer</label></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#amps-collapse" aria-expanded="false">
                        Amps
                    </button>
                    <div class="collapse" id="amps-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="acousticamp"><label
                                    for="acousticamp">Acoustic</label></li>
                            <li><input class="checkbox" type="checkbox" id="electricamp"><label
                                    for="electricamp">Electric</label></li>
                            <li><input class="checkbox" type="checkbox" id="bassamp"><label for="bassamp">Bass</label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#other-collapse" aria-expanded="false">
                        Other equipment
                    </button>
                    <div class="collapse" id="other-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><input class="checkbox" type="checkbox" id="microphone"><label
                                    for="microphone">Microphone</label></li>
                            <li><input class="checkbox" type="checkbox" id="strings"><label
                                    for="strings">Strings</label></li>
                            <li><input class="checkbox" type="checkbox" id="pick"><label for="pick">Pick</label></li>
                            <li><input class="checkbox" type="checkbox" id="capo"><label for="capo">Capo</label></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
            </ul>
        </div>


        <!-- Product list -->
        <section class="w-100" style="background-color: white;">
            <div class="text-center container py-5">
                <div class="row">
                    <select id="filter" style="width: 200px" class="mb-2" name="filter" (change)="onChange($event)">
                        <option selected hidden>Choose filter</option>
                        <option value="priceLH">Price Low to High</option>
                        <option value="priceHL">Price High to Low</option>
                        <option value="nameAZ">Name A-Z</option>
                        <option value="nameZA">Name Z-A</option>
                        <option value="brandAZ">Brands A-Z</option>
                        <option value="brandZA">Brands Z-A</option>
                    </select>
                    <hr width="50%"/>
                    <div *ngFor="let product of products | async" class="col-lg-3 mb-3">
                        <div [routerLink]="['/product', product._id]" class="card  h-100">
                            <div style="cursor:pointer;" class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                data-mdb-ripple-color="light">
                                <img src="{{ product.picture }}" height="325" width="225px" class="w-100" />
                                <a>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!-- TODO: ulepsati dizajn -->
                                <h5 class="card-title mb-3">{{ product.name }} </h5>

                                <div [ngSwitch]="product.type">
                                    <div *ngSwitchCase="'acoustic'">Acoustic guitar</div>
                                    <div *ngSwitchCase="'electric'">Electric guitar</div>
                                    <div *ngSwitchCase="'bass'">Bass guitar</div>
                                </div>

                                <h6 class="mb-3">{{ product.price | currency: 'EUR' }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>